.container {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  width: 250px;
  border-radius: 50;
  background-color: whitesmoke;
  height: 80;
  overflow: hidden;
  border: 2px solid rgb(47, 255, 71);
  background-color: blanchedalmond;
}
h2 {
  text-align: center;
  color: aliceblue;
  margin-bottom: 5px;
}

h3:hover {
  background-color: yellowgreen;
  text-align: center;
  color: aliceblue;

  cursor: pointer;
  overflow: hidden;
}

.card img {
  border: 2px solid whitesmoke;

  margin-top: 5px;

  width: 245px;
  background-color: black;
}

* {
  background-color: black;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
